# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\13927\CLionProjects\CMake_Tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
